aniso8601==8.0.0
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
click==7.1.2
Flask==1.1.2
flask-restx==0.2.0
html5lib==1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lxml==4.6.0
MarkupSafe==1.1.1
pyrsistent==0.17.3
python-dotenv==0.14.0
pytz==2020.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
webencodings==0.5.1
Werkzeug==1.0.1
